
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Main_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_57 */
.Main_mobilegrid_57 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_57_wrapper {

}
.Main_mobilegrid_57 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_57_row_0, .Main_mobilegrid_57_row_0 > td {
	height: auto
}
/* mobilegridcell_58 */
.Main_mobilegridcell_58 {
	height:auto !important;
	width:180px;
	padding: 0px 0px 0px 0px;
}
.Main_mobilegridcell_58 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiledatepicker_5 */
.Main_mobiledatepicker_5 {
	margin: 0px 0px 0px 0px;
}
.Main_mobiledatepicker_5 .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.Main_mobiledatepicker_5 .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* mobilegridcell_68 */
.Main_mobilegridcell_68 {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Main_mobilegridcell_68 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_110 */
.Main_mobilegridcell_110 {
	height:auto !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.Main_mobilegridcell_110 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_56 */
#Main_mobilebutton_56 {

}
.ui-btn.Main_mobilebutton_56 {
	margin: 0px 0px 0px 0px;
}
/* mobilegrid_6 */
.Main_mobilegrid_6 {
	height: 0px;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_6_wrapper {

}
.Main_mobilegrid_6 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_6_row_0, .Main_mobilegrid_6_row_0 > td {
	height: 0px
}
/* mobilegridcell_7 */
.Main_mobilegridcell_7 {
	height:0px !important;
	width:150px;
	padding: 0px 0px 0px 0px;
}
.Main_mobilegridcell_7 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilecheckboxgroup_39 */
.Main_mobilecheckboxgroup_39 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_40 */
.Main_mobilecheckbox_40 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegridcell_8 */
.Main_mobilegridcell_8 {
	height:0px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Main_mobilegridcell_8 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_17 */
.Main_mobiletextinput_17 {
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_82 */
.Main_mobilelabel_82 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobiletextarea_83 */
.Main_mobiletextarea_83 {
	margin: 4px 0px 4px 0px;
}
/* mobiletoggle_119 */
.Main_mobiletoggle_119 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckboxgroup_152 */
.Main_mobilecheckboxgroup_152 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_153 */
.Main_mobilecheckbox_153 {
	display: none;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegrid_156 */
.Main_mobilegrid_156 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_156_wrapper {

}
.Main_mobilegrid_156 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_156_row_0, .Main_mobilegrid_156_row_0 > td {
	height: 30px
}
/* mobilegridcell_157 */
.Main_mobilegridcell_157 {
	height:30px !important;
	width:50px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_157 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_161 */
.Main_mobilelabel_161 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_158 */
.Main_mobilegridcell_158 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_158 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileselectmenu_150 */
.Main_mobileselectmenu_150 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Main_mobilefooter {
	min-height:38px;
}
/* mobilegrid_20 */
.Main_mobilegrid_20 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_20_wrapper {

}
.Main_mobilegrid_20 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_20_row_0, .Main_mobilegrid_20_row_0 > td {
	height: auto
}
/* mobilegridcell_21 */
.Main_mobilegridcell_21 {
	height:auto !important;
	width:100px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_18 */
.Main_mobilelabel_18 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_22 */
.Main_mobilegridcell_22 {
	height:auto !important;
	width:40px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_19 */
.Main_mobilelabel_19 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_74 */
.Main_mobilegridcell_74 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_74 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_111 */
.Main_mobilegridcell_111 {
	height:auto !important;
	width:110px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_111 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_25 */
#Main_mobilebutton_25 {

}
.ui-btn.Main_mobilebutton_25 {
	margin: 0px 0px 0px 0px;
}
/* mobilebutton_125 */
#Main_mobilebutton_125 {
	display: none;
}
.ui-btn.Main_mobilebutton_125 {
	margin: 0px 0px 0px 0px;
}
/* CustomNavFooter_108 */
.Main_CustomNavFooter_108 {
	margin: 0px 0px 0px 0px;
}
/* CustomNavFooter_108_mobilenavbar_1 */
.Main_CustomNavFooter_108_mobilenavbar_1 {

}
.Main_CustomNavFooter_108_mobilenavbar_1 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Main_CustomNavFooter_108_mobilenavbar_1 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Main_CustomNavFooter_108_mobilenavbar_1 ul li:last-child a {
	margin-right: -1px !important;
}
.Main_CustomNavFooter_108_mobilenavbar_1 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* panel_47 */
.Main_panel_47 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Main_panel_47:focus {
	outline: 0;
}
/* mobilelabel_79 */
.Main_mobilelabel_79 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_92 */
.Main_mobilegrid_92 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_92_wrapper {

}
.Main_mobilegrid_92 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_92_row_0, .Main_mobilegrid_92_row_0 > td {
	height: 30px
}
/* mobilegridcell_93 */
.Main_mobilegridcell_93 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_93 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilecheckboxgroup_64 */
.Main_mobilecheckboxgroup_64 {
	margin: 0px 0px 0px 0px;
}
/* mobilecheckbox_65 */
.Main_mobilecheckbox_65 {
	display: none;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilebutton_80 */
#Main_mobilebutton_80 {

}
.ui-btn.Main_mobilebutton_80 {
	margin: 4px 5px 4px 5px;
}
/* panel_163 */
.Main_panel_163 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Main_panel_163:focus {
	outline: 0;
}
/* html_164 */
.Main_html_164 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: auto; height: auto;
}
div.Main_html_164 {
	overflow: auto;
}
/* mobilebutton_180 */
#Main_mobilebutton_180 {

}
.ui-btn.Main_mobilebutton_180 {
	margin: 4px 5px 4px 5px;
}
/* mobilepopup_167 */
.Main_mobilepopup_167 {

}
div.Main_mobilepopup_167 {
	max-height: 100vh;
	box-sizing: border-box;
}
div.Main_mobilepopup_167 .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* html_168 */
.Main_html_168 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: 250px; height: 200px;
}
div.Main_html_168 {
	overflow: auto;
}
/* basicloginpopup */
.Main_basicloginpopup {

}
div.Main_basicloginpopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.Main_basicloginpopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* mobilegrid_170 */
.Main_mobilegrid_170 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Main_mobilegrid_170_wrapper {

}
.Main_mobilegrid_170 > tr > td {
	vertical-align: top;
}
.Main_mobilegrid_170_row_0, .Main_mobilegrid_170_row_0 > td {
	height: auto
}
.Main_mobilegrid_170_row_1, .Main_mobilegrid_170_row_1 > td {
	height: auto
}
/* mobilegridcell_171 */
.Main_mobilegridcell_171 {
	height:auto !important;
	width:100px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_171 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_175 */
.Main_mobilelabel_175 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_172 */
.Main_mobilegridcell_172 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_172 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* userinput */
.Main_userinput {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_173 */
.Main_mobilegridcell_173 {
	height:auto !important;
	width:100px;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_173 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_176 */
.Main_mobilelabel_176 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_174 */
.Main_mobilegridcell_174 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Main_mobilegridcell_174 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* passwordinput */
.Main_passwordinput {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_179 */
#Main_mobilebutton_179 {

}
.ui-btn.Main_mobilebutton_179 {
	margin: 4px 5px 4px 5px;
}