
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Results_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelist_57 */
.ui-page .Results_mobilelist_57 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_58 */
/* mobilelistitembutton_59 */
.Results_mobilelistitembutton_59 {

}
/* mobilebutton_74 */
#Results_mobilebutton_74 {

}
.ui-btn.Results_mobilebutton_74 {
	margin: 4px 5px 4px 5px;
}
/* mobilecollapsibleset_46 */
.Results_mobilecollapsibleset_46 {
	margin: 8px 5px 8px 5px;
}
/* mobilecollapsblock_53 */
.Results_mobilecollapsblock_53 {

}
.Results_mobilecollapsblock_53 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* html_81 */
.Results_html_81 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: 90%; height: auto;
}
div.Results_html_81 {
	overflow: auto;
}
/* mobilelabel_78 */
.Results_mobilelabel_78 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Results_mobilefooter {
	min-height:38px;
}
/* CustomNavFooter_79 */
.Results_CustomNavFooter_79 {
	margin: 0px 0px 0px 0px;
}
/* CustomNavFooter_79_mobilenavbar_1 */
.Results_CustomNavFooter_79_mobilenavbar_1 {

}
.Results_CustomNavFooter_79_mobilenavbar_1 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Results_CustomNavFooter_79_mobilenavbar_1 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Results_CustomNavFooter_79_mobilenavbar_1 ul li:last-child a {
	margin-right: -1px !important;
}
.Results_CustomNavFooter_79_mobilenavbar_1 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}